# Estimating taxi fares

In [1]:
import google.datalab.bigquery as bq
import seaborn as sns
import pandas as pd
import numpy as np
import shutil

Data set is 1,108,779,463 rows (130GB).
Write a basic query to pull a set of rows.

In [3]:
rawdata="""
SELECT
  pickup_datetime,
  pickup_longitude, pickup_latitude, 
  dropoff_longitude, dropoff_latitude,
  passenger_count,
  trip_distance,
  tolls_amount,
  fare_amount,
  total_amount
FROM
  `nyc-tlc.yellow.trips`
WHERE
  MOD(ABS(FARM_FINGERPRINT(CAST(pickup_datetime AS STRING))),EVERY_N) = 1
"""

In [8]:
query=rawdata.replace("EVERY_N", "100000")
trips = bq.Query(query).execute().result().to_dataframe()
print "Total dataset is {} taxi rides ({}% of total)".format(len(trips), 100.0/100000.0)
trips[:5]

Total dataset is 10789 taxi rides (0.001% of total)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2009-09-04 21:49:30,-73.991085,40.755503,-73.991185,40.755543,1,0.0,0.0,2.5,2.5
1,2009-08-20 23:04:58,-73.980657,40.765322,-73.962737,40.769690,1,2.5,0.0,2.5,2.5
2,2009-08-31 13:27:07,-73.979360,40.735598,-73.971661,40.758827,1,1.8,0.0,2.5,2.5
3,2009-09-28 17:47:22,-73.984128,40.780583,-73.984141,40.780562,1,0.0,0.0,2.5,2.5
4,2009-07-04 08:36:00,-73.992533,40.756207,-73.992555,40.756205,1,0.0,0.0,2.5,2.5